html,
body {
  height:100vh;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bedroom-icon:hover, .location-icon:hover, .gallery-icon:hover, .back-icon:hover {
  background-color: gray;
}

.bedroom-icon {
  position:absolute;
  left:40px;
  bottom:3px;
}

.location-icon {
  position:absolute;
  left:110px;
  bottom:3px;
}

.gallery-icon {
  position:absolute;
  left:180px;
  bottom:3px;
}

.back-icon {
  position:absolute;
  right:40px;
  bottom:3px;
}

.icon-bg {
  position:fixed;
  z-index:1;
  bottom:0;
  left:0;
  background: black;
  height:50px;
  width:100vw;
}
