

.bgWrap {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  opacity:0.9;
}

.bgText {
  text-shadow: black 1px 1px 1px;
  font-family:sans-serif;
  font-size:70px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



@media only screen and (max-width: 1000px) {
  .bgText {
      font-size:7.5vw;
  }
}
